
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

#workExperience,
#projects,
#education {
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  border: 2px solid #757575;
  border-radius:20px;
  background-color: #fef6d5;
  max-width: 1024px;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #999;
  text-align: center;
  line-height: 48px;
  display: inline;
  width: 33%
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: rgba(8, 0, 7, 0.69);
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.summary-message {
  font-style: italic;
  font-size: 18px;
  color: rgba(8, 0, 7, 0.69);
  line-height: 28px;
}

#skills-h3 {
  color: #999;
}

.orange {
  background-color: #fef6d5;
}

.gray-text {
  color: #cfcfcf;
}

.dark-text {
  font-weight: bold;
  color: rgba(8, 0, 7, 0.69);
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #fef6d5;
}

#header {
  background-color: #fef6d5;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}





/* ========================================================
   Animated Skill Bars
   ===================================================== */
/*
 In order to align the skills with the others sections I'm just copy the css attributes of the
 work,project and education id
*/

#skills {

  font-family: "Roboto", sans-serif;
  color: #999;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  border: 2px solid #757575;
  border-radius:20px;
  background-color: #fef6d5;
  max-width: 1024px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: auto;
  flex: auto;
  flex-direction: column;
  flex-wrap: wrap;

}

.skill-bar {

  font-size: 14px;
  color: #111;
  width: 33%;
  text-align: left;
  text-indent: 6px;
  position: relative;
  height: 50px;
  justify-content: space-around;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;

}

.bar {

  position: relative;
  max-width: 750px;
  height: 25px;
  border: 1px solid rgba(0,0,0,0.8);
  -webkit-border-radius: 16px;
  border-radius: 20px;
}

.labelpos,
.percent {
  font-weight: bold;
  color: rgba(8, 0, 7, 0.69);
}

/* ========================================================
   Individule Skill Colors
   ===================================================== */
.skill-bar-color {
  background: #cfcfcf;
}

/* ========================================================
   Style for the gooogle Map
   ===================================================== */
#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}


/* ========================================================
   Media queries to handle various device widths
   ===================================================== */
@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }

  .skill-bar {
    border: 1px solid rgba(0,0,0,0.8);
    width: 100%;
    display: flex;
  }

  .bar {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  #map {
    display: block;
    height: 75%;
    margin: 0 5%;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }

}